@{
    ViewData["Title"] = "About Us";
}

<style>
h3 {
        color: #ffc107;
}
</style>

<h1>@ViewData["Title"]</h1>

<p> This website is the result of multiple semesters Software Engineering Students learning how to build a project with good engineering habits </p>
<p> This webpage was added to be a verticle slice while adding a microservice to this website  </p>