@{
    ViewData["Title"] = "Admin Page";
}

<!-- This page will hold the page where admins can interact with the site. Not currently implemented.-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tr>
            <td>Admin action 1</td>
            <td>Admin action 2</td>
            <td>Admin action 3</td>
            <td>Admin action 4</td>
        </tr>

    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
