@{
    <!-- Changed "Privacy" to "Acceptable Use Policy". I also changed the file name to AUP.cshtml-->
    ViewData["Title"] = "Acceptable Use Policy";
}

<style>
h3 {
        color: #ffc107;
}
</style>

<h1>@ViewData["Title"]</h1>

<!--- PBI-27: Copyright policy for users uploading games to the site --->
<!--- See here for more information: https://patentpc.com/blog/is-software-code-protected-by-copyright --->

<h3>Copyright</h3>
<p>All content uploaded to BucStop, including but not limited to game codes, graphics, audio, and text, is automatically copyrighted upon creation by the respective users. Users retain full ownership and rights to their uploaded content, and creators may request the removal of their content at their disrection.</p>

<h3>Claims of Copyright Infringement</h3>
<p>By uploading content to BucStop, users affirm that they have the legal right to do so and that their content does not infringe upon the intellectual property rights of any third party. If any content is found to have violated this policy, the offending content will be removed from the site, at a minimum.</p>
<p>If you believe that your copyrighted material has been used on BucStop without your permission, please notify us immediately with the following information:</p>
    <ol>
        <li>A description of the copyrighted work</li>
        <li>Proof of your ownership of the copyright</li>
        <li>The URL(s) where the allegedly infringing content is located</li>
        <li>Contact information for further communication</li>
    </ol>
<p>Upon receiving a valid copyright infringement claim, we will promptly investigate the matter and take appropriate action.</p>

<h3>Disclaimer</h3>
<p>BucStop is not responsible for verifying the copyright ownership of user-uploaded content. We rely on users to respect copyright laws and only upload content that they have the legal right to distribute.</p>