@{
    ViewData["Title"] = "Games Page";
}

<!-- Deprecated. Used to be the games list.-->

<div class="text-center">
    <h1 class="display-4">Games List</h1>
    <a href="../Games/Snake">Snake</a>
    <a href="../Games/Tetris">Tetris</a>
</div>