
﻿@{
    ViewData["Title"] = "Game Criteria";
}

<!-- Page detailing what criteria a game should meet to be added to the site.-->

<h1>@ViewData["Title"]</h1>

<p>In order to have your game listed on BucStop, your game needs to meet certain criteria: </p>

<ul>
    <li>Must have a name which is not offensive and is less than 50 characters long</li>
    <li>Must have controls which are able to be used on both PC and mobile</li>

        <ul>
            <li>Recommendation is to have it use the arrow keys, as the site will already map swipes to the keys</li>
        </ul>
    <li>Must not contain any offensive material</li>
        <ul>
        <li>Offensive material: material which would give a negative impression of the school</li>
                <ul>
                    <li>Including but not limited to: use of expletives, gore/excessive violence, use of controlled substances, suggestive material, racially insensitive content, illegal material, et cetera</li>
                </ul>
        </ul>
  
    <li>Must be written in Javascript</li>
    <li>Must not have advertisements</li>
    <li>Must not contain any software which could be deemed as malicious</li>
    <li>Must not contain excessive flashing lights or loud sounds</li>
    <li>Must not infringe on any existing copyrighted material</li>
    <li>The file size of the game and all other necessary materials (including images, sounds, et cetera) should not exceed 10MB</li>
    <li>The canvas of the game must be within 640 px by 640 px</li>
    <li>Must not collect user data outside of the bare minimum to save progress in the game</li>
    <li>Any non-javascript files necessary for the game to run must be included in a folder</li>
</ul>
<hr>
<h1>Add your game</h1>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdxu3kg1Cm7Sc7wogaYuRNzbL8fafdTQ9I_nyuCIttKzlg63Q/viewform?embedded=true" width="640" height="1201" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>