@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Privacy Policy page. Not implemented yet, however, may be useful in the future.-->

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
