@model BucStop.Controllers.AccountController
<h1>Login</h1>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group container">
        <div class="row">
            <div class="col-12 col-md-6">
                <label asp-for="email">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4" style="padding-top: 23px">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>

    
}